# Value.io API Configuration
NEXT_PUBLIC_VIO_API_URL=https://api-staging.value.io/
NEXT_PUBLIC_VIO_WRITE_ONLY_TOKEN=your-write-only-token-with-jwt-permissions
NEXT_PUBLIC_VIO_ACCOUNT=your-account-name
VIO_ADMIN_KEY=your-admin-api-key
VIO_WRITE_ONLY_TOKEN=your-write-only-token-with-jwt-permissions
VIO_ACCOUNT=your-account-name
NEXT_PUBLIC_VIO_DESTINATION_ID=dummy-gateway

JWT_DURATION=86400